@{
    ViewData["Title"] = "Address Record";
}
@model dns_network_programming.ViewModel.AddressVM
@* ************** Content ************** *@
<div class="row g-6">
    <div class="col-md-12">
        <div class="card mb-6">
            <h5 class="card-header">Address Record</h5>
            <div class="card-body demo-vertical-spacing demo-only-element">
                <form asp-action="AddressRecord" asp-controller="Domains">
                    
                    <div class="row mb-6">
                        <label asp-for="@Model.Domain" class="col-sm-3 col-form-label" class="mb-0 "></label>
                        <div class="col-sm-10">
                            <input asp-for="@Model.Domain" type="text" class="form-control" placeholder="viettechgroup.vn" />
                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Seacrh</button>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="mb-0">
                        <label asp-for="@Model.IpAddress" class="mb-0"></label>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <textarea readonly>
                            @{
                                if (Model != null && !string.IsNullOrEmpty(Model.IpAddress))
                                {
                                    @Model.IpAddress
                                }
                            }
                                  </textarea>

                    </div>
                </div>
                <div class="row">
                    <div class="mb-0">
                        <label asp-for="@Model.HostName" class="mb-0"></label>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <textarea readonly>
                            @{
                                if (Model != null && !string.IsNullOrEmpty(Model.HostName))
                                {
                                    @Model.HostName
                                }
                            }
                                  </textarea>

                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon11">&#64;</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon11" />
                </div>

                <div class="form-password-toggle">
                    <label class="form-label" for="basic-default-password12">Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="basic-default-password12" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="basic-default-password2" />
                        <span id="basic-default-password2" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon13" />
                    <span class="input-group-text" id="basic-addon13">&#64;example.com</span>
                </div>

                <div class="input-group">
                    <span class="input-group-text" id="basic-addon14">https://example.com/users/</span>
                    <input type="text" class="form-control" placeholder="URL" id="basic-url1" aria-describedby="basic-addon14" />
                </div>

                <div class="input-group">
                    <span class="input-group-text">With textarea</span>
                    <textarea class="form-control" aria-label="With textarea" placeholder="Comment"></textarea>
                </div>

            </div>
        </div>
    </div>
</div>
